.nav-main {
  height: 100vh;
  background-color: var(--primary);
  margin: 0 15px;
  padding: 15px 0;
  .buttMenu {
    .iconActive {
      color: var(--whiteColor);
    }
    .icon {
      color: var(--blackColor2);
    }
    &:hover * {
      color: var(--whiteColor);
    }
  }
}
