html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Server | OmiOmi
    body 
        h1 Wellcome to Server OmiOmi 
        h3 User
        a(href="/users") Get all User 
        p /user/{id} to get a User 
        
        hr
        h3 Post
        a(href="/posts") Get all Post
        p /post/{id} to get a Post 
